graph {
    fill-color: black;
}

edge {
    fill-color: red;
}

node {
    fill-color: white;
    size: 20gu;
    text-color: white;
    text-size: 15gu;
    text-style: bold;
    text-alignment: at-right;
    text-offset: 0;
    text-mode: hidden;
    shape: circle;
}

node.B {
    fill-color: darkgray;
}

node.H {
    fill-mode: image-scaled-ratio-max;
    fill-image: url('images/hex.png');
}

node.C {
    fill-mode: image-scaled-ratio-max;
    fill-image: url('images/clover.png');
}

node.S {
    fill-mode: image-scaled-ratio-max;
    fill-image: url('images/snake.png');
}

node.D {
    fill-mode: image-scaled-ratio-max;
    fill-image: url('images/diamond.png');
}

node.P {
    fill-mode: image-scaled-ratio-max;
    fill-image: url('images/plus.png');
}

node.entranceexit {
    stroke-mode: plain;
    stroke-color: lime;
    stroke-width: 5gu;
}

edge.traversable {
    fill-color: white;
}